<div class="container">
  <h2><%= @user.first_name %>'s profile</h2>
  <div class="row">
    <div class="col-md-6 col-sm-12 border p-5">
      <h4>Organised meals:</h4>
      <% @user.meals.each do |thing| %>
        <p><%= link_to(thing.title, meal_path(thing)) %><span class="text-right"><%= "#{thing.reservations.count}/#{thing.capacity}" %></span></p>
      <% end %>
    </div>
    <div class="col-md-6 col-sm-12 border p-5">
      <h4>Your reservations:</h4>
      <% @user.reservations.each do |thing| %>
        <p><%= link_to(thing.meal.title, meal_path(thing.meal)) %><span class="text-right"><%= "#{thing.meal.reservations.count}/#{thing.meal.capacity}"%></span></p>
      <% end %>
    </div>
</div>


</div>
