<h2><%= @meal.title %></h2>
<p><%= @meal.description %></p>
<p><%= @meal.house_rules %></p>
<p>$<%= @meal.price %></p>
<p><%= @meal.capacity %></p>
<p><%= @meal.datetime %></p>
<p><%= @meal.address %></p>
